.board{
    --grids: 20;
    width: 900px;
    height: 900px;
    background-color: #aaa;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(var(--grids),1fr);
    grid-template-rows: repeat(var(--grids),1fr);
    gap: 2px;
}