/* 背景 */
.bg-height{
  min-height: 100vh;
}
.bg-color{
  background-color: #003366;
}

/* container */
.section-padding{
  padding: 30px 0px;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.container-padding{
  padding: 0px 80px;
}
@media screen and (max-width: 1200px){
  .container-padding{
    padding: 0px 60px;
  }
}
@media screen and (max-width: 768px){
  .container-padding{
    padding: 0px 40px;
  }
}
@media screen and (max-width: 576px){
  .container-padding{
    padding: 0px 20px;
  }
}

.flex{
  display: flex;
  justify-content: center;
}